@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

.label-style {
  @apply mb-2 block;
}

.hover-button {
  @apply hover:border-solid hover:border hover:border-main-black hover:scale-110 hover:duration-150 duration-150 ease-in-out;
}

h1 {
  @apply xl:text-7xl text-5xl;
}

.white-background {
  @apply absolute top-0 right-0 w-full lg:w-6/12 h-full bg-main-white text-main-black z-10;
}
.white-background-left {
  @apply absolute top-0 left-0 w-full lg:w-6/12 h-full bg-main-white text-main-black z-10;
}

.pink-bg{
  width: 80%;
}